body {
  background-image: url("/src/assets/INFO418_login_background.webp");
}

.center {
  display: flex;
  width: 100vw; 
  align-items: center;
  justify-content: center;
}

.top_right {
  position: absolute;
  top: -15px;
  right: 15px;
}

.form_size {
  width: 100px;
}
